.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.flexContainer {
  display: flex;
  width: 100%;
  max-width: 768px;
  justify-content: space-between;
  height: 100vh;
  background-color: white;
  overflow: hidden;

  margin: 0 auto;
  padding: 15px;
}

.flexContainer .itemBox {
  display: flex;
  flex-flow: column wrap;
  background-color: black;
  width: 100%;
  max-width: 350px;
  padding: 15px;
}

.itemBox .item {
  justify-content: space-around;
}

.flexContainer .itemBox p { 
  color: white;
}

.flexContainer .itemBox .item {
  background-color: white;
  padding: 10px 10px;
  margin-bottom: 10px;
}